<div class="post-box" data-type="comment" data-post-id="{{comment.pk}}">
    {% include 'sub/kids/points_box.html' with comment=True %}
    <div class="post-info">
        <div>
            <a href="">{{comment.user}}</a>
            <span class="post-point">{{comment.points}}</span> points
            <time>{{comment.published_date}}</time>
        </div>
        <div>{{comment.text|linebreaksbr }}</div>
        <div class="bottom-bar"> 
            <a class="reply-button">Reply</a> 
        </div>
        <div class="child">
            {% for comment in comment.reply_comments.all %}
                {% include 'sub/comment_box.html' %}
            {% endfor%}
        </div>
    </div>
    
</div>