{% extends 'sub/base.html' %}

{% block title %} {{post.title}} ~ Rezzit {% endblock%}

{% block content %}
    <div class="row">
        {% include 'sub/post_box.html' with inside_comment=True comment_count=comments|length %}
    </div>

    <form action="/make_comment/" method="POST" class="form-group" id="comment-form">
        {% csrf_token %}
        <textarea class="form-control" rows="5" id="talk-tome"></textarea>
        <button class="btn btn-danger btn-sm" type="submit">Send</button>
    </form>

    <div class="row comments">        
        {% for comment in comments %}
            {% include 'sub/comment_box.html' %}
        {% endfor%}
    </div>
    
{% endblock %}