{% load static %}

<div class="post-box">
    {% if not inside_comment %}
    <div class="post-counter">{{forloop.counter}}.</div>
    {% endif %}    
    <div class="post-point-box" {{ inside_comment|yesno:",id=ppb-center" }}>
        <div class="point-arrow" id="up-arrow"></div>     
        <div class="post-point text-center">{{post.points}}</div>
        <div class="point-arrow" id="down-arrow"></div>
    </div>
    <div class="post-image"><image src="{% static 'icons/play.png' %}"></image></div>
    <div class="post-info">
        <h4 class="post-title"><a href="{{post.link_adress}}">{{post.title}}</a></h4>
        <div>
        <a class="post-username">by {{post.username}}</a>
        <time class="post-date">at {{post.published_date}}</time>
        </div>
        {% if inside_comment is True %}
            <div class="post-text">{{post.text}}</div>
        {% endif %}
        <div class="post-comment-count">           
            <a href="{% url 'comments_page' pk=post.pk %}"> {{comment_count}} comments 
            </a>
        </div>
    </div>
</div>