{% load static %}

<div class="post-box" data-type="post" data-post-id="{{post.pk}}">
    {% if not inside_comment %}
    <div class="post-counter">{{forloop.counter}}.</div>
    {% endif %}   

    {% include 'sub/kids/points_box.html' %}

    <div class="post-image"><image src="{% static 'icons/play.png' %}"></image></div>
    
    <div class="post-info">
        <h4 class="post-title"><a href="{{post.link_adress}}">{{post.title}}</a></h4>
        <div>
        <a class="post-username">by {{post.username}}</a>
        <time class="post-date">at {{post.published_date}}</time>
        </div>
        {% if inside_comment is True %}
            <div class="post-text">{{post.text}}</div>
        {% endif %}
        <div class="post-comment-count">           
            <a href="{% url 'comments_page' pk=post.pk %}"> {{comment_count}} comments 
            </a>
        </div>
    </div>
</div>